<nav class="pcoded-navbar">
	<div class="pcoded-inner-navbar main-menu">
		<div class="pcoded-navigatio-lavel">Navigation</div>
		<ul class="pcoded-item pcoded-left-item">
			<i class="feather icon-home"></i>
			@if (User.HasAccess("admin.dashboard.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="dashboard" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-home"></i></span>
						<span class="pcoded-mtext">Dashboard</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.productsizes.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="productsizes" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">Product Sizes</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.productcolors.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="productcolors" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">Product Colors</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.brands.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="brands" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">Brands</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.faqs.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="faqs" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">FAQs</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.categories.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="categories" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">Categories</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.specifications.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="specifications" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">Specifications</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.blogposts.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="blogposts" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">BlogPosts</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.contactposts.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="contactposts" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">ContactPosts</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.products.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="products" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">Products</span>
					</a>
				</li>
			}
			@if (User.HasAccess("admin.users.index"))
			{
				<li class="">
					<a asp-area="admin" asp-controller="users" asp-action="index">
						<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
						<span class="pcoded-mtext">Users</span>
					</a>
				</li>
			}
		</ul>
	</div>
</nav>
