<nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel">Navigation</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <i class="feather icon-home"></i>
                                <li class="">
                                    <a asp-area="admin" asp-controller="dashboard" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a asp-area="admin" asp-controller="productsizes" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">Product Sizes</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a asp-area="admin" asp-controller="productcolors" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">Product Colors</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a asp-area="admin" asp-controller="brands" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">Brands</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a asp-area="admin" asp-controller="faqs" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">FAQs</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a asp-area="admin" asp-controller="categories" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">Categories</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a asp-area="admin" asp-controller="specifications" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">Specifications</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a asp-area="admin" asp-controller="blogposts" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">BlogPosts</span>
                                    </a>
                                </li>
                                 <li class="">
                                    <a asp-area="admin" asp-controller="contactposts" asp-action="index">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">ContactPosts</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>