<nav class="main-nav ml-0">
                            <ul class="menu">
                                <li class="active">
                                    <a asp-controller="home" asp-action="index">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="shop" asp-action="index">Shop</a>
                                    <div class="megamenu">
                                        <div class="row">
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-4">
                                                <h4 class="menu-title">Variations 1</h4>
                                                <ul>
                                                    <li><a href="~/assets/shop-banner-sidebar.html">Banner With Sidebar</a></li>
                                                    <li><a href="~/assets/shop-boxed-banner.html">Boxed Banner</a></li>
                                                    <li><a href="~/assets/shop-infinite-scroll.html">Infinite Ajaxscroll</a></li>
                                                    <li><a href="~/assets/shop-horizontal-filter.html">Horizontal Filter</a>
                                                    </li>
                                                    <li><a href="~/assets/shop-navigation-filter.html">Navigation Filter<span
                                                                class="tip tip-hot">Hot</span></a></li>

                                                    <li><a href="~/assets/shop-off-canvas.html">Off-Canvas Filter</a></li>
                                                    <li><a href="~/assets/shop-right-sidebar.html">Right Toggle Sidebar</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-4">
                                                <h4 class="menu-title">Variations 2</h4>
                                                <ul>

                                                    <li><a href="~/assets/shop-grid-3cols.html">3 Columns Mode<span
                                                                class="tip tip-new">New</span></a></li>
                                                    <li><a href="~/assets/shop-grid-4cols.html">4 Columns Mode</a></li>
                                                    <li><a href="~/assets/shop-grid-5cols.html">5 Columns Mode</a></li>
                                                    <li><a href="~/assets/shop-grid-6cols.html">6 Columns Mode</a></li>
                                                    <li><a href="~/assets/shop-grid-7cols.html">7 Columns Mode</a></li>
                                                    <li><a href="~/assets/shop-grid-8cols.html">8 Columns Mode</a></li>
                                                    <li><a href="~/assets/shop-list.html">List Mode</a></li>
                                                </ul>
                                            </div>
                                            <div
                                                class="col-6 col-sm-4 col-md-3 col-lg-4 menu-banner menu-banner1 banner banner-fixed">
                                                <figure>
                                                    <img src="~/assets/images/menu/banner-1.jpg" alt="Menu banner" width="221"
                                                        height="330" />
                                                </figure>
                                                <div class="banner-content y-50">
                                                    <h4 class="banner-subtitle font-weight-bold text-primary ls-m">Sale.
                                                    </h4>
                                                    <h3 class="banner-title font-weight-bold"><span
                                                            class="text-uppercase">Up to</span>70% Off</h3>
                                                    <a href="~/assets/demo23-shop.html" class="btn btn-link btn-underline">shop
                                                        now<i class="d-icon-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <!-- End Megamenu -->
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a asp-controller="account" asp-action="profile">My Account</a>
                                </li>
                                <li>
                                    <a asp-controller="Blogs" asp-action="index">Blogs</a>
                                </li>
                                <li>
                                    <a asp-controller="FAQs" asp-action="index">FAQs</a>
                                </li>
                                <li>
                                    <a asp-controller="home" asp-action="about">About Us</a>
                                </li>
                                <li>
                                    <a asp-controller="home" asp-action="contact">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
